nav{
  
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 750px;
  font-size: 14px;
  font-family: 'orbitron', sans-serif;
  background-color:#01071c;
  opacity: 0.9;
  z-index: 100;
  border-bottom: solid #001e22;
}

nav a{
  
  padding-top: 10px;
  color: rgb(255, 255, 255);
  transition: color 0.5s ;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  cursor: none;
  padding:6px;
}
nav h3{
  
  padding-top: 10px;
  padding: 6px;
  

}



.container1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}



nav a:hover{
  color: rgb(0, 255, 238);

  text-shadow: 0 0 10px rgb(0, 255, 238);
  
  
}

.header-upper .header-buttons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}


a {
  
  cursor: none;

}

.header-social-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}





.header-social-links a:hover{
  filter: drop-shadow(0 0 10px rgb(0, 255, 238));
 

}

.header-social-links img{
  width: 30px;
  height: 30px;
}

.header-social-links{
  display: flex;
  flex-direction: row;
  height: 5px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: none;
  
}


.header-upper button{
  width: 180px;
  padding: 10px 20px;
  background-color: #01071c;
  color: rgb(0, 255, 238);
  border: solid rgb(0, 255, 238);
  border-radius: 5px;
  font-family: 'orbitron', sans-serif;
  font-size: 15px;
  cursor: none;
}


.header-social{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'orbitron', sans-serif;
  font-size: 20px;
}

.header-upper{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-family: 'orbitron', sans-serif;
  font-size: 20px;
  gap: 50px;
}


.header-upper .header-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.header-lower ::-webkit-scrollbar {
  display: none;
}

.header-lower{
  margin-top: 70px;
  display: flex;
  align-items: center;
  font-family: 'orbitron', sans-serif;
  font-size: 15px;
  background-color: #01071c;
  overflow: hidden;
}

.header-lower .scroll-infinite{
  display: flex;
  animation: scrollAnimation 20s linear infinite;  
  color: rgb(0, 255, 238);
  gap: 110px;
  flex-shrink: 0;
  min-width: 100%;
}

.shapegrid-canvas {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.header-upper button:hover{
  background-color: rgb(0, 255, 238);
  color: #01071c;
  
  box-shadow: 0 0 10px rgb(0, 255, 238);
  transition: all 0.3s ease-in-out;
}

.header-upper button:active{
  transform: scale(0.90);
  transition: all 0.1s ease-in-out;
}

.skills-section{
  margin-top: 5px;
  text-align: center;
  font-family: 'orbitron', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  
}

.card-title img{
  width: 100px;
  height: 100px;
}

.skills-cards{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.card{
  width: 200px;
  height: 200px;
  background-color: #01071c;
  border: solid rgb(0, 255, 238);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card-title{
  font-family: 'orbitron', sans-serif;
  font-size: 20px;
  color: rgb(0, 255, 238);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card-content{
  font-family: 'orbitron', sans-serif;
  font-size: 15px;
  color: rgb(255, 255, 255);
  padding: 10px;
}

@keyframes scrollAnimation {
  from {translate:0;}
  to {translate:-100%;}
  
}