
nav{
  
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 750px;
  font-size: 14px;
  font-family: 'orbitron', sans-serif;
  background-color:#01071c;
  opacity: 0.9;
  z-index: 100;
  border-bottom: solid #001e22;
}

nav a{
  
  padding-top: 10px;
  color: rgb(255, 255, 255);
  transition: color 0.5s ;
  text-decoration: none;
  font-size: 15px;
  cursor: none;
  padding:6px;
}
nav h3{
  
  padding-top: 10px;
  padding: 6px;
  

}



header{
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  color: thistle;
  font-family: 'orbitron', sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  
  
  
}

.contain1{
  
  width: 800px;
  

}

#contain2{
  width: 800px;
}

.contain1 p{
  font-size: 20px;
  font-style: bold;
}


.container1{
  display: flex;
  flex-direction: row;
  gap: 20px;
  
}



nav a:hover{
  color: rgb(0, 255, 238);

  text-shadow: 0 0 10px rgb(0, 255, 238);
  
  
}